<div class="maindiv">
  <div class="title">
    <h3>Admin Settings</h3>
  </div>

  <form [formGroup]=" form" (ngSubmit)="onSubmit()" class="half-bkgd">


    <mat-card appearance="outlined" class="mat-elevation-z8">
      <div>
        <mat-form-field class="inputtop">
          <input matInput id="minpassword" type="text" required formControlName="minpassword">
          <mat-label>Minimum Password Length </mat-label>
          <mat-error *ngIf="f.minpassword.errors?.required && (f.minpassword.dirty || f.minpassword.invalid)">
            Enter a Minimum Password Length
          </mat-error>
          <mat-error
            *ngIf="(f.minpassword.errors?.min || f.minpassword.errors?.max) && (f.minpassword.dirty || f.minpassword.invalid)">
            Min 1 : Max 15
          </mat-error>
          <mat-error *ngIf="(f.minpassword.errors?.pattern) && (f.minpassword.dirty || f.minpassword.invalid)">
            Numbers Only
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput id="maxpassword" type="test" required formControlName="maxpassword">
          <mat-label>Maximum Password Length</mat-label>
          <mat-error *ngIf="f.maxpassword.errors?.required && (f.maxpassword.dirty || f.maxpassword.invalid)">
            Enter a Maximum Password Length
          </mat-error>
          <mat-error
            *ngIf="(f.maxpassword.errors?.min || f.maxpassword.errors?.max) && (f.maxpassword.dirty || f.maxpassword.invalid)">
            Min 2 : Max 30
          </mat-error>
          <mat-error
            *ngIf="(f.maxpassword?.value < f.minpassword?.value)  && (f.maxpassword.dirty || f.maxpassword.invalid)">
            Max Password Length must be greater than Min
          </mat-error>
          <mat-error *ngIf="(f.minpassword.errors?.pattern) && (f.minpassword.dirty || f.minpassword.invalid)">
            Numbers Only
          </mat-error>


        </mat-form-field>
        <mat-form-field>
          <input matInput id="minname" type="text" required formControlName="minname">
          <mat-label>Minimum Name Length </mat-label>
          <mat-error *ngIf="f.minname.errors?.required && (f.minname.dirty || f.minname.invalid)">
            Enter a Minimum Name
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <input matInput id="maxname" type="text" required formControlName="maxname">
          <mat-label>Maximum Name Length </mat-label>
          <mat-error *ngIf="f.maxname.errors?.required && (f.maxname.dirty || f.maxname.invalid)">
            Enter a Maximum Name
          </mat-error>

        </mat-form-field>
      </div>
    </mat-card>
    <mat-card appearance="outlined" class="mat-elevation-z8">
      <div>
        <mat-form-field class="inputtop">
          <input matInput id="maxnotes" type="text" required formControlName="maxnotes">
          <mat-label>Maximum Note Length </mat-label>
          <mat-error *ngIf="f.maxnotes.errors?.required && (f.maxnotes.dirty || f.maxnotes.invalid)">
            Maximum Notes Length
          </mat-error>

        </mat-form-field>
        <mat-form-field>
          <input matInput id="newusertoken" type="text" required formControlName="newusertoken">
          <mat-label>NewUser Token in Hours </mat-label>
          <mat-error *ngIf="f.newusertoken.errors?.required && (f.newusertoken.dirty || f.newusertoken.invalid)">
            Hours a newuser Token in hours
          </mat-error>

        </mat-form-field>
        <mat-form-field>
          <input matInput id="usertoken" type="text" required formControlName="usertoken">
          <mat-label>User Token in Hours</mat-label>
          <mat-error *ngIf="f.usertoken.errors?.required && (f.usertoken.dirty || f.usertoken.invalid)">
            Hours a user Token in hours
          </mat-error>

        </mat-form-field>
        <mat-form-field>
          <input matInput id="admintoken" type="text" required formControlName="admintoken">
          <mat-label>Administrator Token Length</mat-label>
          <mat-error *ngIf="f.admintoken.errors?.required && (f.admintoken.dirty || f.admintoken.invalid)">
            Hours an Administrator Token in Hours
          </mat-error>

        </mat-form-field>
      </div>
    </mat-card>
    <mat-card appearance="outlined" class="mat-elevation-z8">
      <div>
        <mat-form-field class="inputtop">
          <input matInput id="smtphost" type="text" required formControlName="smtphost">
          <mat-label>SMTP Host</mat-label>
          <mat-error *ngIf="f.smtphost.errors?.required && (f.smtphost.dirty || f.smtphost.invalid)">
            SMTP Host
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <input matInput id="smtpsendas" type="text" required formControlName="smtpsendas">
          <mat-label>SMTP Send As</mat-label>
          <mat-error *ngIf="f.smtpsendas.errors?.required && (f.smtpsendas.dirty || f.smtpsendas.invalid)">
            SMTP Send As
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <input matInput id="smtpsentto" type="text" required formControlName="smtpsentto">
          <mat-label>SMTP Send To</mat-label>
          <mat-error *ngIf="f.smtpsentto.errors?.required && (f.smtpsentto.dirty || f.smtpsentto.invalid)">
            SMTP Send To
          </mat-error>

        </mat-form-field>

      </div>

    </mat-card>

    <div id="bt">
      <button mat-raised-button color=primary id="submit-button" type="submit" [disabled]="!form.valid">Submit
      </button>
    </div>

  </form>


</div>
