.title {
    display: block;
    background-color: #125b84;
    color:antiquewhite;
  
    margin: auto;
    padding-bottom: 30px;
    width: 90%;
    height: 87px;
    line-height: 32px;
    text-align: bottom;
    font-size: 26px;
    font-weight: 500;
    align-content: center;
}

h3 {
    line-height:87px;
}

.maindiv {
    align-content: center;
}

.zbtn {

    display: block;
}

mat-card {
    margin: 15px;
  }

.inputtop {
    margin-top: 10px;
}

#bt {
    display:flex;
    position:absolute;
    top:650px;
}