
.maindiv {
    align-content: center;
}

.zbtn {

    display: block;
}

mat-card {
    margin: 15px;
  }

.inputtop {
    margin-top: 10px;
}

#bt {
    display:flex;
    position:absolute;
    top:650px;
}