.courseBorder {
    align-items: center;
}

.scorecard > tr > td > input, .smallinput {
    width: 98%;
    margin:0px;
    height:36px;
    text-align: center;
    border:none;

}
.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

.ng-valid[required], .ng-valid.required {
    border-left: 2px solid #42a948;
}

.ng-invalid:not(form) {
    border-left: 50px solid red;
}

.scorecard > tr > td {
    border: black 1px solid;
}


.toprow:nth-child(1 )  {
    background-color: seagreen !important;
    color:white;
    height: 36px;
    line-height: 36px;
    border:1px black solid;
}

.firstcolumn {
    text-align: left !important;
    padding-left:5px;
    border:1px gray solid;
}
.w8 {
  width:8%;
}

.w6 {
    width:6.5%;
}

.w4 {
    width:5.2%;
}

.w3 {
    width:3.8%;
}
input {
    background-color: #eee;
}
.matIconSp {
    margin-left: 20px;
    vertical-align: text-bottom;
    margin-right: 20px;
    font-size: 30px;
    line-height: 30px;
    height:32px;
    width:32px;

}

.teeformfield {
    margin-bottom: 20px;
    height: 50px;
    width: 200px;
}



.left50 {
    margin-left: 50px;
}

.top50 {
    margin-top: 50px;
}

.bottom50 {
    margin-bottom:50px;
}

#radioGender {
    display: flex;
    align-items: flex-start;

}

