.scorecard > tr > td > input {
    border-color: lightgray;
    border-radius: 5px;
    width: 32px;
   
 
}

.header-color1 {
    background-color: rgb(233, 233, 234);
}

.mat-accordion {
    width: 90%;
}

table {

   width: 600px;
}