<ng-container id="container">

  <div class="topdiv">

    <div id="detailDiv" *ngIf='courseTee'>
      <mat-radio-group aria-label="Score Detail Level" (change)="detailLevel($event)">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button selected value="3">3</mat-radio-button>

      </mat-radio-group>
      <span id="scoreDetailspan"> Score Detail Level</span>
    </div>


    <div *ngIf='courseTee && this.form.value.detailLevel =="3"'>


      <span class="spanitem holecolor"
        style="width:calc(8%) !important;text-align: left !important;padding-left:5px">Hole
      </span>
      <span *ngFor="let myObj of numbers;let h=index; ">
        <span class="spanitem holecolor" *ngIf="h < 9">{{h+1}}</span>
      </span>
      <span class="spanitem holecolor" style="width:calc(4%) !important;">Out
      </span>
      <span *ngFor="let myObj of numbers;let h=index; ">
        <span class="spanitem holecolor " *ngIf="h >= 9 && h <= 17">{{h+1}}</span>
      </span>
      <span class="spanitem holecolor" style="width:4% !important;">In
      </span>
      <span class="spanitem holecolor" style="width: 4%!important;">Total
      </span>
      <span class="spanitem holecolor" style="width:4% !important;">Slope
      </span>
      <span class="spanitem holecolor" style="width:4% !important;">Rating
      </span>
    </div>
    <div *ngIf='courseTee && this.form.value.detailLevel =="3"'>
      <span [style.background-color]="bgcolor" class="spanitem"
        style="width:8% !important;text-align: left !important;padding-left:5px">{{ courseTee.tee.teebox}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd1}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd2}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd3}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd4}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd5}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd6}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd7}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd8}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd9}}</span>
      <span [style.background-color]="bgcolor" class="spanitem "
        style="width:calc(4%) !important;">{{  courseTee.tee?.front9y}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd10}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd11}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd12}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd13}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd14}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd15}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd16}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd17}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd18}}</span>
      <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">{{  courseTee.tee.back9y}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{  courseTee.tee.totaly}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">{{  courseTee.tee.slope}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">{{  courseTee.tee.rating}}
      </span>
    </div>
    <!-- Beginning of If courseTee -->
    <div *ngIf='courseTee '>
      <!-- Beginning of data entry Par -->
      <div>
        <span [style.background-color]="bgcolor" class="spanitem"
          style="width:8% !important;text-align: left !important;padding-left:5px">Par
        </span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p1}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p2}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p3}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p4}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p5}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p6}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p7}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p8}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p9}}</span>
        <span [style.background-color]="bgcolor" class="spanitem "
          style="width:calc(4%) !important;">{{  courseTee.tee?.front9p}}
        </span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p10}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p11}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p12}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p13}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p14}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p15}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p16}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p17}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p18}}</span>
        <span [style.background-color]="bgcolor" class="spanitem "
          style="width:4% !important;">{{  courseTee.tee.back9p}}
        </span>
        <span [style.background-color]="bgcolor" class="spanitem "
          style="width:4%!important;">{{  courseTee.tee.totalp}}
        </span>
        <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
        </span>
        <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
        </span>
      </div>
      <!-- end of data entry PAR -->

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Begining of data entry SCORE -->
        <div class="scorecard">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Score
          </span>

          <span *ngFor="let x of taf; index as j" [style.background-color]="bgcolor" class="spanitem ">
            <input [ngClass]=[shape[j]] type="text" [id]="'s' + x" [formControlName]="'s' + x"></span>

          <span [style.background-color]="bgcolor" class="spanitem "
            style="width:calc(4%) !important;">{{ form.value.f9tot}}
          </span>

          <span *ngFor="let x of tab; index as j" [style.background-color]="bgcolor" class="spanitem ">
            <input [ngClass]=[shape[j+9]] type="text" [id]="'s' + x" [formControlName]="'s' + x"></span>

          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">{{ form.value.b9tot}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{ form.value.gtotal}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry SCORE -->

        <!-- Begining of data entry FAIRWAY -->
        <div class="fairways">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Fairways
          </span>


          <span *ngFor="let x of taf; index as j" [style.background-color]="bgcolor" class="spanitem ">
            <select *ngIf="parArray[j] != 3" id="'f'+ x[j]" [formControlName]="'f'+ x">
              <option *ngFor="let opt of fullOptions" [value]="opt">{{opt}}</option>
            </select>
            <select *ngIf="parArray[j] == 3" id="'f'+ x[j]" placeholder="--" [formControlName]="'f' + x">
              <option *ngFor="let opt of par3Options" [value]="opt">{{opt}}</option>
            </select>
          </span>

          <span [style.background-color]="bgcolor" class="spanitem " style="width:calc(4%) !important;">
          </span>

          <span *ngFor="let x of tab; index as j" [style.background-color]="bgcolor" class="spanitem ">
            <select *ngIf="parArray[j+9] != 3" [id]="'f'+ x" [formControlName]="'f'+ x">
              <option *ngFor="let opt of fullOptions" [value]="opt">{{opt}}</option>
            </select>
            <select *ngIf="parArray[j+9] == 3" [id]="'f'+ x" placeholder="--" [formControlName]="'f'+ x">
              <option *ngFor="let opt of par3Options" [value]="opt">{{opt}}</option>
            </select>
          </span>

          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{form.value.fy}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry FAIRWAY -->

        <!-- Begining of data entry GREENS -->
        <div class="greens">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Greens
          </span>

          <span *ngFor="let x of taf; index as j" [style.background-color]="bgcolor" class="spanitem ">
            <select [id]="'g'+ x" [formControlName]="'g'+ x">
              <option *ngFor="let opt of girOptions" [value]="opt">{{opt}}</option>
            </select>
          </span>

          <span [style.background-color]="bgcolor" class="spanitem " style="width:calc(4%) !important;">
          </span>

          <span *ngFor="let x of tab; index as j" [style.background-color]="bgcolor" class="spanitem ">
            <select [id]="'g'+ x" [formControlName]="'g'+ x">
              <option *ngFor="let opt of girOptions" [value]="opt">{{opt}}</option>
            </select>
          </span>

          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{form.value.gir}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry GREENS -->
        <!-- Begining of data entry PUTTS -->
        <div class="putts">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Putts
          </span>

          <span *ngFor="let x of taf" [style.background-color]="bgcolor" class="spanitem ">
            <input type="text" [id]="'p' + x" [formControlName]="'p' + x"></span>

          <span [style.background-color]="bgcolor" class="spanitem " style="width:calc(4%) !important;">
          </span>

          <span *ngFor="let x of tab" [style.background-color]="bgcolor" class="spanitem ">
            <input type="text" [id]="'p' + x" [formControlName]="'p' + x"></span>

          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{form.value.putts}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry PUTTS -->
        <!-- Begining of data entry PENALTIES -->
        <div class="penalty">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Penalty
          </span>

          <span *ngFor="let x of taf" [style.background-color]="bgcolor" class="spanitem ">
            <input type="text" [id]="'pen' + x" [formControlName]="'pen' + x"></span>

          <span [style.background-color]="bgcolor" class="spanitem " style="width:calc(4%) !important;">
          </span>
          <span *ngFor="let x of tab" [style.background-color]="bgcolor" class="spanitem ">
            <input type="text" [id]="'pen' + x" [formControlName]="'pen' + x"></span>

          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem "
            style="width:4%!important;">{{ form.value.penaltytotal}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry PENALTIES -->
        <!-- Beginning of save / post  -->
        <div>
          <mat-form-field appearance="outline" class="cssDesc">
            <mat-label>Description: </mat-label>
            <textarea matInput type="text" id="comment" formControlName="comment"></textarea>
          </mat-form-field>
        </div>
        <div>
          <button id="calcid" class="calcbtn" [disabled]="frm" mat-button>
            Calculate
          </button>
        </div>
        <!-- End of save / post  -->
      </form>
    </div>
    <!-- End of If courseTee -->
  </div>

  <!-- Beginning of Score Review -->
  <div *ngIf='form.value.gtotal'>
    <div id="dandc">
      <table style="margin:auto;width:60%;align-items: center;">
        <tr>
          <td>Date: {{this.form.value.date | date: 'mediumDate'}}</td>
          <td>Handicap: {{this.form.value.handicap | number: '1.0-2'}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Course: {{this.courseTee?.name}}</td>
          <td>Course Name: {{this.form.value.coursename}}</td>
          <td>Teebox: {{this.form.value.teename}} </td>

        </tr>
      </table>
    </div>
    <div class="wrapper">

      <span class="block">
        <table>
          <tr>
            <th colspan="2">Score</th>
          </tr>
          <tr>
            <td> Front: </td>
            <td>{{this.form.value.f9tot}}</td>
          </tr>
          <tr>
            <td>Back:</td>
            <td>{{this.form.value.b9tot}}</td>
          </tr>
          <tr>
            <td>Gross: </td>
            <td>{{this.form.value.gtotal}}</td>
          </tr>
          <tr>
            <td>Score to Par: </td>
            <td><span *ngIf='form.value.g_topar > 0'>+</span><span *ngIf='form.value.g_topar < 0'>-</span><span
                *ngIf='form.value.g_topar == 0'>Even</span><span
                *ngIf='form.value.g_topar != 0'>{{this.form.value.g_topar}}</span></td>
          </tr>
          <tr>
            <td>Net Score:</td>
            <td> {{this.form.value.ntotal}}</td>
          </tr>

        </table>
      </span>
      <span class="block">
        <table>
          <tr>
            <th colspan="2">Accuracy</th>
          </tr>
          <tr>
            <td> Fairways: </td>
            <td>{{this.form.value.fy}}</td>
          </tr>
          <tr>
            <td>GIR:</td>
            <td>{{this.form.value.gir}}</td>
          </tr>
          <tr>
            <td>Putts: </td>
            <td>{{this.form.value.putts}}</td>
          </tr>
          <tr>
            <td>Penalty:</td>
            <td>{{this.form.value.penaltytotal}}</td>
          </tr>

        </table>
      </span>
      <span class="block">
        <table>
          <tr>
            <th colspan="2">Scoring</th>
          </tr>
          <tr>
            <td>Pars: </td>
            <td>{{this.form.value.partotal}}</td>
          </tr>
          <tr>
            <td>Birdies:</td>
            <td>{{this.form.value.birdietotal}}</td>
          </tr>
          <tr>
            <td>Eagles: </td>
            <td>{{this.form.value.eagletotal}}</td>
          </tr>
          <tr>
            <td>Albatross </td>
            <td>{{this.form.value.albatotal}}</td>
          </tr>
          <tr>
            <td>Bogeys: </td>
            <td>{{this.form.value.bogeytotal}}</td>
          </tr>
          <tr>
            <td>Doubles: </td>
            <td>{{this.form.value.doubletotal}}</td>
          </tr>
          <tr>
            <td>Triples+: </td>
            <td>{{this.form.value.tripleplustotal}}</td>
          </tr>
        </table>
      </span>
      <span class="block">
        <table>
          <tr>
            <th colspan="2">Tee Shots</th>
          </tr>
          <tr>
            <td>Hit: </td>
            <td>{{this.form.value.fy}}/{{this.form.value.fairways}}</td>
          </tr>
          <tr>
            <td>Left Playable:</td>
            <td>{{this.form.value.fl1}}</td>
          </tr>
          <tr>
            <td>Left Trouble: </td>
            <td>{{this.form.value.fl2}}</td>
          </tr>
          <tr>
            <td>Right Playable:</td>
            <td>{{this.form.value.fr1}}</td>
          </tr>
          <tr>
            <td>Right Trouble: </td>
            <td>{{this.form.value.fr2}}</td>
          </tr>
          <tr>
            <td>Water:</td>
            <td>{{this.form.value.fw}}</td>
          </tr>
          <tr>
            <td>Sand: </td>
            <td>{{this.form.value.fs}}</td>
          </tr>
        </table>
      </span>
      <span class="block">
        <table>
          <tr>
            <th colspan="2">Putting</th>
          </tr>
          <tr>
            <td> Zero: </td>
            <td>{{this.form.value.zeroputts}}</td>
          </tr>
          <tr>
            <td>One:</td>
            <td>{{this.form.value.oneputts}}</td>
          </tr>
          <tr>
            <td>Two: </td>
            <td>{{this.form.value.twoputts}}</td>
          </tr>
          <tr>
            <td>three+: </td>
            <td>{{this.form.value.threeputtsplus}}</td>
          </tr>
        </table>
      </span>
    </div>

    <div>
      <button id="postScore" (click)="post()" [disabled]="frm || resubmit" mat-button>
        Post
      </button>
    </div>

  </div>
  <!-- End of Score Review -->

  <div style="height:50px;"></div>
</ng-container>
