<ng-container id="container">

  <div class="topdiv">

    <div *ngIf='courseTee'>
      <span class="spanitem holecolor"
        style="width:calc(8%) !important;text-align: left !important;padding-left:5px">Hole
      </span>
      <span *ngFor="let myObj of numbers;let h=index; ">
        <span class="spanitem holecolor" *ngIf="h < 9">{{h+1}}</span>
      </span>
      <span class="spanitem holecolor" style="width:calc(4%) !important;">Out
      </span>
      <span *ngFor="let myObj of numbers;let h=index; ">
        <span class="spanitem holecolor " *ngIf="h >= 9 && h <= 17">{{h+1}}</span>
      </span>
      <span class="spanitem holecolor" style="width:4% !important;">In
      </span>
      <span class="spanitem holecolor" style="width: 4%!important;">Total
      </span>
      <span class="spanitem holecolor" style="width:4% !important;">Slope
      </span>
      <span class="spanitem holecolor" style="width:4% !important;">Rating
      </span>
    </div>
    <div *ngIf='courseTee'>
      <span [style.background-color]="bgcolor" class="spanitem"
        style="width:8% !important;text-align: left !important;padding-left:5px">{{ courseTee.tee.teebox}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd1}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd2}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd3}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd4}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd5}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd6}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd7}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd8}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd9}}</span>
      <span [style.background-color]="bgcolor" class="spanitem "
        style="width:calc(4%) !important;">{{  courseTee.tee?.front9y}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd10}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd11}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd12}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd13}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd14}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd15}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd16}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd17}}</span>
      <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.yd18}}</span>
      <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">{{  courseTee.tee.back9y}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{  courseTee.tee.totaly}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">{{  courseTee.tee.slope}}
      </span>
      <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">{{  courseTee.tee.rating}}
      </span>
    </div>
    <!-- Beginning of If courseTee -->
    <div *ngIf='courseTee'>
      <!-- Beginning of data entry Par -->
      <div>
        <span [style.background-color]="bgcolor" class="spanitem"
          style="width:8% !important;text-align: left !important;padding-left:5px">Par
        </span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p1}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p2}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p3}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p4}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p5}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p6}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p7}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p8}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p9}}</span>
        <span [style.background-color]="bgcolor" class="spanitem "
          style="width:calc(4%) !important;">{{  courseTee.tee?.front9p}}
        </span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p10}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p11}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p12}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p13}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p14}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p15}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p16}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p17}}</span>
        <span [style.background-color]="bgcolor" class="spanitem ">{{  courseTee.tee.p18}}</span>
        <span [style.background-color]="bgcolor" class="spanitem "
          style="width:4% !important;">{{  courseTee.tee.back9p}}
        </span>
        <span [style.background-color]="bgcolor" class="spanitem "
          style="width:4%!important;">{{  courseTee.tee.totalp}}
        </span>
        <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
        </span>
        <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
        </span>
      </div>
      <!-- end of data entry PAR -->

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Begining of data entry SCORE -->
        <div class="scorecard">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Score
          </span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[0]] type="text" id="s1"
              formControlName="s1"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[1]] type="text" id="s2"
              formControlName="s2"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[2]] type="text" id="s3"
              formControlName="s3"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[3]] type="text" id="s4"
              formControlName="s4"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[4]] type="text" id="s5"
              formControlName="s5"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[5]] type="text" id="s6"
              formControlName="s6"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[6]] type="text" id="s7"
              formControlName="s7"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[7]] type="text" id="s8"
              formControlName="s8"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[8]] type="text" id="s9"
              formControlName="s9"></span>
          <span [style.background-color]="bgcolor" class="spanitem "
            style="width:calc(4%) !important;">{{ form.value.f9tot}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[9]] type="text" id="s10"
              formControlName="s10"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[10]] type="text" id="s11"
              formControlName="s11"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[11]] type="text" id="s12"
              formControlName="s12"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[12]] type="text" id="s13"
              formControlName="s13"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[13]] type="text" id="s14"
              formControlName="s14"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[14]] type="text" id="s15"
              formControlName="s15"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[15]] type="text" id="s16"
              formControlName="s16"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[16]] type="text" id="s17"
              formControlName="s17"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input [ngClass]=[shape[17]] type="text" id="s18"
              formControlName="s18"></span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">{{ form.value.b9tot}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{ form.value.gtotal}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry SCORE -->

        <!-- Begining of data entry FAIRWAY -->
        <div class="fairways">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Fairways
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f1" [disableControl]="isfairway" formControlName="f1">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f2" formControlName="f2">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f3" formControlName="f3">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f4" formControlName="f4">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f5" formControlName="f5">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f6" formControlName="f6">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f7" formControlName="f7">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f8" formControlName="f8">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f9" formControlName="f9">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:calc(4%) !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f10" formControlName="f10">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f11" formControlName="f11">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f12" formControlName="f12">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f13" formControlName="f13">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f14" formControlName="f14">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f15" formControlName="f15">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f16" formControlName="f16">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f17" formControlName="f17">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="f18" formControlName="f18">
              <option value="y">Y</option>
              <option value="l2">L2</option>
              <option value="l1">L1</option>
              <option value="r1">R1</option>
              <option value="r2">R2</option>
              <option value="w">W</option>
              <option value="s">S</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{form.value.fy}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry FAIRWAY -->

        <!-- Begining of data entry GREENS -->
        <div class="greens">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Greens
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g1" formControlName="g1">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g2" formControlName="g2">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g3" formControlName="g3">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g4" formControlName="g4">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g5" formControlName="g5">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g6" formControlName="g6">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g7" formControlName="g7">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g8" formControlName="g8">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g9" formControlName="g9">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:calc(4%) !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g10" formControlName="g10">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g11" formControlName="g11">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g12" formControlName="g12">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g13" formControlName="g13">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g14" formControlName="g14">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g15" formControlName="g15">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g16" formControlName="g16">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g17" formControlName="g17">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem ">
            <select id="g18" formControlName="g18">
              <option value="y">Y</option>
              <option value="n">N</option>
            </select>
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{form.value.gir}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry GREENS -->
        <!-- Begining of data entry PUTTS -->
        <div class="putts">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Putts
          </span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p1"
              formControlName="p1"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p2"
              formControlName="p2"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p3"
              formControlName="p3"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p4"
              formControlName="p4"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p5"
              formControlName="p5"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p6"
              formControlName="p6"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p7"
              formControlName="p7"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p8"
              formControlName="p8"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p9"
              formControlName="p9"></span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:calc(4%) !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p10"
              formControlName="p10"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p11"
              formControlName="p11"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p12"
              formControlName="p12"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p13"
              formControlName="p13"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p14"
              formControlName="p14"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p15"
              formControlName="p15"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p16"
              formControlName="p16"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p17"
              formControlName="p17"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="p18"
              formControlName="p18"></span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4%!important;">{{form.value.putts}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry PUTTS -->
        <!-- Begining of data entry PENALTIES -->
        <div class="penalty">
          <span [style.background-color]="bgcolor" class="spanitem"
            style="width:8% !important;text-align: left !important;padding-left:5px">Penalty
          </span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen1"
              formControlName="pen1"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen2"
              formControlName="pen2"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen3"
              formControlName="pen3"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen4"
              formControlName="pen4"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen5"
              formControlName="pen5"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen6"
              formControlName="pen6"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen7"
              formControlName="pen7"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen8"
              formControlName="pen8"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen9"
              formControlName="pen9"></span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:calc(4%) !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen10"
              formControlName="pen10"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen11"
              formControlName="pen11"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen12"
              formControlName="pen12"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen13"
              formControlName="pen13"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen14"
              formControlName="pen14"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen15"
              formControlName="pen15"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen16"
              formControlName="pen16"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen17"
              formControlName="pen17"></span>
          <span [style.background-color]="bgcolor" class="spanitem "><input type="text" id="pen18"
              formControlName="pen18"></span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem "
            style="width:4%!important;">{{ form.value.penaltytotal}}
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
          <span [style.background-color]="bgcolor" class="spanitem " style="width:4% !important;padding-top:-20px;">
          </span>
        </div>
        <!-- End of data entry PENALTIES -->
        <!-- Beginning of save / post  -->
        <div>
          <mat-form-field appearance="outline" class="cssDesc">
            <mat-label>Description: </mat-label>
            <textarea matInput type="text" id="comment" formControlName="comment"></textarea>
          </mat-form-field>
        </div>
        <div>
          <button class="calcbtn" mat-button>
            Calculate
          </button>
        </div>
        <!-- End of save / post  -->
      </form>
    </div>

    <!-- End of If courseTee -->
  </div>

  <!-- Beginning of Score Review -->
  <div *ngIf='form.value.gtotal'>
    <div id="dandc">
      <table style="margin:auto;width:60%;align-items: center;">
        <tr>
          <td>Date: {{this.form.value.date | date: 'mediumDate'}}</td>
          <td>Handicap: {{this.form.value.handicap | number: '1.0-2'}}</td>
          <td></td>
        </tr>
        <tr>
          <td>Course: {{this.courseTee?.name}}</td>
          <td>Course Name: {{this.form.value.coursename}}</td>
          <td>Teebox: {{this.form.value.teename}} </td>

        </tr>
      </table>
    </div>
    <div class="wrapper">

      <span class="block">
        <table>
          <tr>
            <th colspan="2">Score</th>
          </tr>
          <tr>
            <td> Front: </td>
            <td>{{this.form.value.f9tot}}</td>
          </tr>
          <tr>
            <td>Back:</td>
            <td>{{this.form.value.b9tot}}</td>
          </tr>
          <tr>
            <td>Gross: </td>
            <td>{{this.form.value.gtotal}}</td>
          </tr>
          <tr>
            <td>Score to Par: </td>
            <td><span *ngIf='form.value.g_topar > 0'>+</span><span *ngIf='form.value.g_topar < 0'>-</span><span
                *ngIf='form.value.g_topar == 0'>Even</span><span
                *ngIf='form.value.g_topar != 0'>{{this.form.value.g_topar}}</span></td>
          </tr>
          <tr>
            <td>Net Score:</td>
            <td> {{this.form.value.ntotal}}</td>
          </tr>

        </table>
      </span>
      <span class="block">
        <table>
          <tr>
            <th colspan="2">Accuracy</th>
          </tr>
          <tr>
            <td> Fairways: </td>
            <td>{{this.form.value.fy}}</td>
          </tr>
          <tr>
            <td>GIR:</td>
            <td>{{this.form.value.gir}}</td>
          </tr>
          <tr>
            <td>Putts: </td>
            <td>{{this.form.value.putts}}</td>
          </tr>
          <tr>
            <td>Penalty:</td>
            <td>{{this.form.value.penaltytotal}}</td>
          </tr>

        </table>
      </span>
      <span class="block">
        <table>
          <tr>
            <th colspan="2">Scoring</th>
          </tr>
          <tr>
            <td>Pars: </td>
            <td>{{this.form.value.partotal}}</td>
          </tr>
          <tr>
            <td>Birdies:</td>
            <td>{{this.form.value.birdietotal}}</td>
          </tr>
          <tr>
            <td>Eagles: </td>
            <td>{{this.form.value.eagletotal}}</td>
          </tr>
          <tr>
            <td>Albatross </td>
            <td>{{this.form.value.albatotal}}</td>
          </tr>
          <tr>
            <td>Bogeys: </td>
            <td>{{this.form.value.bogeytotal}}</td>
          </tr>
          <tr>
            <td>Doubles: </td>
            <td>{{this.form.value.doubletotal}}</td>
          </tr>
          <tr>
            <td>Triples+: </td>
            <td>{{this.form.value.tripleplustotal}}</td>
          </tr>
        </table>
      </span>
      <span class="block">
        <table>
          <tr>
            <th colspan="2">Tee Shots</th>
          </tr>
          <tr>
            <td>Hit: </td>
            <td>{{this.form.value.fy}}/{{this.form.value.fairways}}</td>
          </tr>
          <tr>
            <td>Left Playable:</td>
            <td>{{this.form.value.fl1}}</td>
          </tr>
          <tr>
            <td>Left Trouble: </td>
            <td>{{this.form.value.fl2}}</td>
          </tr>
          <tr>
            <td>Right Playable:</td>
            <td>{{this.form.value.fr1}}</td>
          </tr>
          <tr>
            <td>Right Trouble: </td>
            <td>{{this.form.value.fr2}}</td>
          </tr>
          <tr>
            <td>Water:</td>
            <td>{{this.form.value.fw}}</td>
          </tr>
          <tr>
            <td>Sand: </td>
            <td>{{this.form.value.fs}}</td>
          </tr>
        </table>
      </span>
      <span class="block">
        <table>
          <tr>
            <th colspan="2">Putting</th>
          </tr>
          <tr>
            <td> Zero: </td>
            <td>{{this.form.value.zeroputts}}</td>
          </tr>
          <tr>
            <td>One:</td>
            <td>{{this.form.value.oneputts}}</td>
          </tr>
          <tr>
            <td>Two: </td>
            <td>{{this.form.value.twoputts}}</td>
          </tr>
          <tr>
            <td>three+: </td>
            <td>{{this.form.value.threeputtsplus}}</td>
          </tr>
        </table>
      </span>
    </div>
  </div>
  <!-- End of Score Review -->

  <div style="height:50px;"></div>
</ng-container>
