
#container {
 
    margin: auto;
}

.topdiv {
    margin:auto;
    width:85%;
    margin-top:30px;

 
   
}

.spanitem {
    display: inline-block; 
    line-height:36px; 
    min-width: 15px;
    height:36px; 
    width:calc(3%);
    border:1px solid rgb(173, 168, 168);
    vertical-align: top;
    
}

.emptyspan {
    display: inline-block; 
    color:white;
    height:36px;
    line-height:36px;
    min-width: 15px;
    border:1px inset rgb(123, 119, 119);
    
}

.holecolor {
    background-color:seagreen; color:white;
}


input.ng-invalid.ng-touched {
    border:2px solid rgb(196, 4, 4) !important;
}


.scorecard > span> input, .fairways > span > select, .greens > span > select ,
.putts > span> input,.penalty > span> input {
    width: 98%;
    margin:0px;
    height:34px;
    font-size: 14px;
    color:darkslategrey;
    text-align:center;
    border:none;
    outline: none;
    vertical-align:top;
    appearance: none;

}