
#container {
 
    margin: auto;
}

#linebreak {
    width:80%;
    border: 1px solid rgb(0, 0, 0);

}

.topdiv {
    margin:auto;
    width:85%;
    margin-top:30px;

 
   
}

.spanitem {
    display: inline-block; 
    line-height:36px; 
    min-width: 15px;
    height:36px; 
    width:calc(3%);
    border:1px solid rgb(173, 168, 168);
    vertical-align: top;
    
}

.btm-spanitem {
    display: inline-block; 
    line-height:36px; 
    min-width: 15px;
    height:38px; 
    width:calc(3%); 
    border:1px solid rgb(173, 168, 168);
    vertical-align: top;
    
}

.emptyspan {
    display: inline-block; 
    color:white;
    height:35px;
    line-height:32px;
    vertical-align: middle;
    min-width: 15px;
    border:1px inset rgb(123, 119, 119);
    
}

.holecolor {
    background-color:seagreen; color:white;
}


input.ng-invalid.ng-touched {
    border:2px solid rgb(196, 4, 4) !important;
}

input:disabled {
    background-color:rgb(220, 220, 220) ;
    
}
select:disabled {
    background-color:rgb(220, 220, 220) ;
    
}


.fairways > span > span > select, .greens > span > span > select,
.fairways > span select, .greens > span > select ,
.putts > span> input, .putts > span > span > input, 
.scorecard > span > input ,.scorecard > span > span > input,
.penalty > span > input ,.penalty > span > span > input
 {
    width:98%;
    margin:auto;
    height:33px;
    font-size: 14px;
    color:rgb(40, 42, 42);
    text-align:center;
    border:none;
    outline: none;
    vertical-align:top;
    appearance: none;
}



.dblcircle  {

    border: 4px double rgb(53, 49, 49) !important;
    border-radius:100% !important;
    height:30px;
    margin: 1px;
}

.dblsquare  {

    border: 4px double rgb(53, 49, 49) !important;
    height:30px;
    outline:cadetblue;
}

.circle  {

    border: 2px solid rgb(53, 49, 49) !important;
    border-radius:100% !important;
    height:32px !important;
    width:86% !important;
    vertical-align:middle !important;
}

.square  {

    border: 2px solid rgb(53, 49, 49) !important;
    outline:cadetblue;
    height:31px !important;
    width:88% !important;
    margin:2px !important;
    vertical-align: middle;

}

.par {
    border: none;
}


.cssDesc {
    margin-top: 15px;
    width: 82%;

}

.calcbtn {
    margin-left:10px;
    width:60%;
    height:45px;
    color: white;
    background-color: rgb(4, 52, 140);
    font-size: 22px;
}


#postScore {
    /* background-color: gray; */
    margin-left:10px;
    margin-top: 20px;
    width:50%;
    height:45px;
    color: white;
    background-color: rgb(4, 52, 140);
    font-size: 22px;
}

#postScore:disabled {
   background-color: gray;

}

#calcid:disabled {
    background-color: gray;
 }

/* .spanDetails {
    display: inline-block;
    width: 12%;
    border: 1px solid lightgrey;
    margin: auto;
    padding:3px;
    vertical-align: top;
} */


#dandc {
    font-size: 1.2rem;
    margin-top:20px;
 }

.wrapper {
    display: flex;
    align-items:stretch;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
}


.one-review > div {
    display:inline-block;
    margin: 40px 40px 10px 40px;
    font-size: larger;
}

.block {
    width: calc(13% - 5px);
    margin:10px;
    border: 1px solid lightgrey;
}

.block table {
    width: 80%;
    align-items: center;
}

.block  table th {
    text-align: center;
}
.block  table  tr {
    height:30px;
    align-items: center;
}
.block table tr td:nth-child(1) {
   
    text-align: right;
    color :rgb(4, 38, 4);
}
.block table tr td:nth-child(2) {
    
    text-align: right;
    color:rgb(31, 15, 60);
   
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    align-items: flex-end;
  }

#scoreDetailspan {
    margin-left : 40px;
    align-items: flex-end;
    font-weight: 550;

}

#detailDiv {
    margin-top: 20px;
    margin-bottom: 15px;
}

.l-one-input {
    margin-left: 20px;
    margin-right: 20px;
    width: 30%;
}

.inpScore {
    line-height: 36px;
    font-size: 22px;
    text-align: center;
    width: 70px;
    margin-left:10px ;
    margin-right:30px;
}