<ng-container>
  <div class="maindiv">
    <div class="title">
      <h3>Course Administration</h3>
    </div>
  </div>

  <table id="drpDown" cellspacing="0">
    <tr>
      <td>
        <form [formGroup]="form">
          <mat-form-field id="courseDropDown" appearance="outline">
            <mat-label>Course</mat-label>
            <mat-select #dd formControlName="coursename" [value]="name" id="dd" (selectionChange)="selectCourse($event)"
              [compareWith]="compareFn">
              <mat-option value="blank"></mat-option>
              <mat-option value="newcourse" #x>New Course</mat-option>
              <mat-option *ngFor="let option of course" [value]="option._id" [selected]="selectCourseId === option._id">
                {{ option.name }}</mat-option>

            </mat-select>
          </mat-form-field>

          <mat-checkbox class="chk-box" id="active" [checked]="active" (click)="activeCheck()">Active</mat-checkbox>
        </form>
      </td>
    </tr>
  </table>


  <mat-tab-group dynamicHeight class="container" [selectedIndex]="indexnumber" #tg
    (selectedIndexChange)="tabchange($event)" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Course Information">
      <app-courses (fromChild)="fromCourseChild($event)" [selectedCourse]="selectedCourse"
        [selectedCourseId]="selectedCourseId">
      </app-courses>
    </mat-tab>
    <mat-tab [disabled]="activesctab" label="ScoreCard">

      <app-scorecardadmin [selectedCourse]="selectedCourse" (fromScorecard)="fromScorecard($event)">
      </app-scorecardadmin>
    </mat-tab>
    <mat-tab [disabled]="activetab" label="Tee Builder">
      <app-tees [pushedTee]="pushedTee" (fromTeebuilder)="fromTeebuilder($event)"></app-tees>
    </mat-tab>

  </mat-tab-group>

</ng-container>
<!-- <p>Index number: {{tg._indexToSelect}}</p> -->
