<div class="bkgd">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-user">
    <mat-card appearance="outlined" class="mat-elevation-z8" color="warn">
      <div>
        <div class="cardtitle">
          <h3>Update Password</h3>
        </div>
        <div class="spacer">
          <mat-form-field>
            <input matInput class="ro-text" id="name" type="text" placeholder="Name" formControlName="name">
          </mat-form-field>
        </div>

        <mat-form-field>
          <input matInput class="ro-text" id="oldpassword" type="password" placeholder=" Old Password"
            formControlName="oldpassword">
          <mat-error *ngIf="f.oldpassword.errors?.required && (f.oldpassword.dirty || f.oldpassword.invalid)">Old
            Password
            is Required</mat-error>
          <mat-error *ngIf="f.oldpassword.errors?.minlength && (f.oldpassword.dirty || f.oldpassword.invalid)">Password
            must be a minimum 5 characters</mat-error>

        </mat-form-field>


        <mat-form-field>
          <input matInput class="ro-text" id="password" type="password" placeholder="Password"
            formControlName="password">
          <mat-error *ngIf="f.password.errors?.required && (f.password.dirty || f.password.invalid)">A Password is
            Required</mat-error>
          <mat-error *ngIf="f.password.errors?.minlength && (f.password.dirty || f.password.invalid)">Password must be a
            minimum 5 characters</mat-error>

        </mat-form-field>



        <mat-form-field>
          <input matInput class="ro-text" id="confirm-password" type="password" placeholder="Confirm Password"
            formControlName="confirmpassword">
          <mat-error
            *ngIf="f.confirmpassword.errors?.confirmpassword && (f.confirmpassword.dirty || f.confirmpassword.invalid)">
            Password must match!</mat-error>
        </mat-form-field>

        <div>
          <button id="submit-button" mat-raised-button color="primary" type="submit"
            [disabled]="!form.valid">Submit</button>
          <button (click)="cancelUpdate()" class="inline-buttons" mat-raised-button color="primary">Cancel</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
