

table {
    width: 90%;
    align-items: center;
    margin: auto;
    table-layout: fixed;
   
}

#headerrow {
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#radioCountry {
    display: flex;
    align-items: flex-start;
}
button {
    margin: 5px;
}


.mat-mdc-form-field {
    width : 90%;
    display: block;

}


/* mat-card {

    width: 40%;
    margin:40px;
} */

.icn {
    margin-right: 40px;
    font-size: 28px;
    height:32px;
    width:32px;
    margin-top: 0px;
    margin-left: -20px;
}
.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

/* .fmrfield {
    height: calc(15vh + 10px) !important;
    width:40%;

} */

.flex-parent-element {
    /* display: flex;
    margin-left:0%;
    margin-right:0%;
    margin-top: 15px;

    align-content: space-between;
    justify-content: center;   
    border: 2px solid gray;  */

    align-content: center;
    border: 2px solid gray;
    margin-top:15px;
    padding-top:20px;
    font-size: 16px;
    height:600px;
  
}

.chk-box {
    display: flex;
    align-items: center;

}

.course-group {
    
    margin: 0 140px;
    width: 80%;
}
.mat-mdc-checkbox {
    margin : 10px 0px;
}



#description {
    height: 150px;
}

#active {
    margin-top:-15px;
    margin-left:48px ;
    line-height: 32px;
    vertical-align:middle;
}

.mat-accordion {
    width: 90%;
}

input[disabled] , textarea[disabled] {
    color:rgb(58, 41, 8);
}


#half-bkgd {
    height: 40vh;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.flex-child-element {
    flex:0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:25px;
    margin-bottom: 0px;
    font-size: 12px;
}


.blk-button {
    display:block;
    margin-top:40px;
}

.full-width {
    width:100%;
}

