
table {
    width: 90%;
    align-items: center;
    margin: auto;
}

#headerrow {
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#radioCountry {
    display: flex;
    align-items: flex-start;
}
button {
    margin: 5px;
}


.mat-mdc-form-field {
    width : 600px;
    display: block;
}

mat-card {

    width: 40%;
    margin:40px;
}

.icn {
    margin-right: 10px;
}

.flex-parent-element {
    /* display: flex;
    margin-left:0%;
    margin-right:0%;
    margin-top: 15px;

    align-content: space-between;
    justify-content: center;   
    border: 2px solid gray;  */

    align-content: center;
    border: 2px solid gray;
    margin-top:15px;
  
}

.chk-box {
    display: flex;
    align-items: center;

}

.course-group {
    
    margin: 0 140px;
    width: 80%;
}
.mat-mdc-checkbox {
    margin : 10px 0px;
}



#description {
    height: 150px;
}


.mat-accordion {
    width: 90%;
}

input[disabled] , textarea[disabled] {
    color:rgb(58, 41, 8);
}


#half-bkgd {
    height: 40vh;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.flex-child-element {
    flex:0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:25px;
    margin-bottom: 0px;
    font-size: 12px;
}


.blk-button {
    display:block;
    margin-top:40px;
}

.full-width {
    width:100%;
}

.maindiv {
    margin-bottom: 30px;
}