<div>
  <div class="maindiv">
    <!-- <div class="title">
      <h3>Course Administration</h3>
    </div> -->
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">



    <div class="flex-parent-element">

      <table>
        <tr id="headerrow">
          <th style="font-weight:500; text-align: left;">Course: {{selectedCourse?.name}}</th>
          <th style="text-align: left;">
            <!-- <mat-icon class="icn" matTooltip="New" (click)="onNew()" id="btn-new" *ngIf="form.disabled">open_in_new
            </mat-icon> -->
            <div class="actionPanel">
              <button mat-icon-button [disabled]="!form.valid" [disableRipple]="true">
                <mat-icon class="icn" matTooltip="Save" id="btn-save" type="submit" (click)="onSubmit()"
                  *ngIf="!form.disabled || newMode">save
                </mat-icon>
              </button>
              <mat-icon class="icn" matTooltip="Edit" id="btn-edit" (click)="onEdit()" *ngIf="form.disabled && name">
                edit
              </mat-icon>
              <mat-icon class="icn" matTooltip="Cancel" id="btn-cancel" (click)="onCancel()"
                *ngIf="!form.disabled || newMode">cancel
              </mat-icon>
            </div>
            <!-- <mat-icon matTooltip="Delete" id="btn-delete" (click)="onDelete()" *ngIf="form.disabled && name">delete
            </mat-icon> -->
          </th>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Name: </mat-label>
              <input matInput type="text" id="name" formControlName="name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Website: </mat-label>
              <input matInput type="text" id="url" formControlName="url">
              <!-- <mat-hint align="end">Enter link to Website</mat-hint> -->
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Address: </mat-label>
              <input matInput type="text" id="address" formControlName="address">
            </mat-form-field>

          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>City: </mat-label>
              <input matInput type="text" id="city" formControlName="city">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <div id="radioCountry">
              <mat-radio-group aria-label="Enter Gender" id="country" formControlName="country">
                <mat-radio-button color="primary" value="canada">Canada</mat-radio-button>
                <mat-radio-button color="accent" value="usa">U.S.A.</mat-radio-button>
                <mat-radio-button color="accent" value="other">Other</mat-radio-button>
                <!-- <mat-error *ngIf="f.gender.errors?.required && (f.gender.dirty)">Gender Required</mat-error> -->
              </mat-radio-group>
            </div>
          </td>
          <td>
            <mat-checkbox class="chk-box" id="active" formControlName="active">Active: </mat-checkbox>
          </td>
          <td>

          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Course Names </mat-label>
              <mat-chip-grid #chipGrid aria-label="Enter Course Names" formControlName="coursenames">
                <mat-chip-row *ngFor="let coursename of course?.coursenames" (removed)="removeKeyword(coursename)">
                  {{coursename}}
                  <button matChipRemove aria-label="'remove ' + keyword">
                    <mat-icon>cancel</mat-icon>
                  </button>

                </mat-chip-row>
              </mat-chip-grid>
              <input placeholder="Course Name" [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="add($event)" />
              <mat-hint>Enter a course name if course has multiple 18 hole courses</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Tee Colors </mat-label>
              <mat-chip-grid #chipGrid2 aria-label="Enter keywords" formControlName="teecolors">
                <mat-chip-row *ngFor="let teecolor of course?.teecolors" (removed)="removeKeyword2(teecolor)">
                  {{teecolor}}
                  <button matChipRemove aria-label="'remove ' + keyword">
                    <mat-icon>cancel</mat-icon>
                  </button>

                </mat-chip-row>
              </mat-chip-grid>
              <input placeholder="Tee Colors..." [matChipInputFor]="chipGrid2" (matChipInputTokenEnd)="add2($event)" />
              <mat-hint>Enter Tee Colors</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>

          <td colspan="2" rows="5">
            <mat-form-field appearance="outline">
              <mat-label>Description: </mat-label>
              <textarea matInput type="text" id="description" formControlName="description"></textarea>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

  </form>
  form valid is: {{form.valid}}
  <div *ngIf="selectedCourseId"> selectedCourse is: {{selectedCourseId}}</div>

</div>
