.header {
    background-color: white;
    border:2px darkgray solid;
    padding:15px;
    border-radius: 10px;
    min-height: 150px;
}

.newTee {
   display:flex;
    border-left: 2px darkgray solid;
    border-right: 2px darkgray solid;
    border-bottom: 2px darkgray solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 36px;
    text-align: center;
    align-items: center;
    height: 36px;
    width: 120px;
    float:left;
    margin-left:10px;
    padding-left: auto;
    padding-right: auto;

}

.newTee:hover {
    cursor:pointer;
    background-color: cornflowerblue;
}


.topdiv {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size:13px;
 
   
}

.spanitem {
    display: inline-block; 
    line-height:36px; 
    min-width: 15px;
    height:36px; 
    border:1px solid rgb(67, 61, 61);
    
}

.spanitem2 {
    display: inline-block; 
    line-height:38px; 
    min-width: 15px;
    height:36px; 
    border:1px solid rgb(67, 61, 61);
    
}

.emptyspan {
    display: inline-block; 
    color:white;
    height:36px;
    line-height:36px;
    min-width: 15px;
    border:1px solid rgb(67, 61, 61);
    
}

.holecolor {
    background-color:seagreen; color:white;
}

.w1 {
    width: 2.5%;
}

.w2 {
    width: 3.5%;
}

.w3 {
    width: 4%;
}

.w4 {
    width: 8.5%;
}

.smallerfont {
    font-size:smaller;
}