<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <mat-toolbar color="primary">
    <a routerLink="/"><button color="accent" mat-button md-raised-button>Home</button></a>
    <a routerLink="/login"><button color="accent" mat-button>Login</button></a>
    <a routerLink="/newuser"><button color="accent" mat-button>SignUp</button></a>
    <a routerLink="/profile"><button color="accent" mat-button>Profile</button></a>
    <a (click)="signout()"><button color="accent" mat-button>Logout</button></a>
  </mat-toolbar>
  <app-status></app-status>
  <div>
    <router-outlet></router-outlet>
  </div>
