<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <mat-toolbar color="primary">
    <a routerLink="/"><button color="accent" mat-button md-raised-button>Home</button></a>
    <a *ngIf="!login.isLoggedIn()" routerLink="/login"><button color="accent" mat-button>Login</button></a>
    <a *ngIf="!login.isLoggedIn()"routerLink="/newuser"><button color="accent" mat-button>SignUp</button></a>
    <a *ngIf="login.isLoggedIn() && login.CurrentUser.isadmin"routerLink="/admin"><button color="accent" mat-button>Admin</button></a>
    <a *ngIf="login.isLoggedIn()" routerLink="/profile"><button color="accent" mat-button>Profile</button></a>
    <a *ngIf="login.isLoggedIn()" (click)="signout()"><button color="accent" mat-button>Logout</button></a>
    <span *ngIf="login.isLoggedIn()" class="currentuser">{{login.CurrentUser.name}}</span>
  </mat-toolbar>
  <div style="height : 40px">
  <app-status></app-status>
</div>
  <div>
    <router-outlet></router-outlet>
  </div>
