<div style="text-align:center">

  <mat-toolbar color="basic">
    <a routerLink="/"><button mat-button>Home</button></a>
    <a *ngIf="!login.isLoggedIn()" routerLink="/login"><button mat-button>Login</button></a>
    <a *ngIf="!login.isLoggedIn()" routerLink="/newuser"><button mat-button>SignUp</button></a>
    <a *ngIf="login.isLoggedIn() && login.CurrentUser.isadmin"><button mat-button
        [matMenuTriggerFor]="adminmenu">Admin</button></a>
    <mat-menu #adminmenu="matMenu" xPosition="after">
      <a routerLink="/users"><button mat-menu-item>User Admin</button></a>
      <a routerLink="/admincourses"><button mat-menu-item>Course Admin</button></a>
      <a routerLink="/adminsettings"><button mat-menu-item>Settings</button></a>
      <button mat-menu-item>Other Admin</button>
    </mat-menu>
    <a *ngIf="login.isLoggedIn()"><button mat-button [matMenuTriggerFor]="golfmenu">Golf</button></a>

    <mat-menu #golfmenu="matMenu" xPosition="after">
      <a *ngIf="login.isLoggedIn()" routerLink="/golfmain"><button mat-menu-item>Golf Profile</button></a>
      <a *ngIf="login.isLoggedIn()" routerLink="/enterscore"><button mat-menu-item>Enter Score</button></a>
      <a *ngIf="login.isLoggedIn()" routerLink="/golfstats"><button mat-menu-item>Golf Statistics</button></a>
      <!-- <a *ngIf="login.isLoggedIn()" routerLink="/golfscores"><button mat-menu-item>Golf Scores</button></a> -->

    </mat-menu>
    <!-- <a *ngIf="login.isLoggedIn()" routerLink="/golfmain"><button mat-button>Golf Statistics</button></a> -->


    <a *ngIf="login.isLoggedIn()" routerLink="/profile"><button mat-button>Profile</button></a>
    <a *ngIf="login.isLoggedIn()" (click)="signout()"><button mat-button>Logout</button></a>
    <span *ngIf="login.isLoggedIn()" class="currentuser">{{login.CurrentUser.name}}</span>
  </mat-toolbar>
  <div style="height : 40px">
    <app-status></app-status>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
