table {
    width: 60%;
    margin: auto;
}
tr {
 line-height: 36px;
 
}

th, td {
    border-bottom: 1px solid #ddd;

}

.cPeach {
    background-color: rgb(220, 223, 226);
}

.cBlank {
    background-color: white;
}