
<mat-grid-list cols="6" rowHeight= "80px">

  <mat-grid-tile [colspan]= "3">
<mat-form-field  >
  <mat-label class="filter-label">Search:</mat-label>
  <input class="filter-input" matInput type="text" 
    (keyup)="applyFilter($event.target.value)" 
    [(ngModel)]="value"
    placeholder="Enter Search Value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
    (click)= "value='';applyFilter('')" >
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>
</mat-grid-tile>
<mat-grid-tile [colspan]="3">
  <button mat-raised-button color="primary" (click)="openDialog('Add', {})">New Account</button>
</mat-grid-tile>
</mat-grid-list>


<div class="mat-elevation-z8">

<table mat-table [dataSource]="users" 
    matSort matSortActive = "email" matSortDisableClear matSortDirection="asc"  >

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> E-Mail</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>
      <ng-container matColumnDef="isadmin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  disableClear> Administrator</th>
        <td mat-cell *matCellDef="let element">{{element.isadmin}}</td>
      </ng-container>
      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Create Date</th>
        <td mat-cell *matCellDef="let element">{{element.createDate | date}}</td>
      </ng-container>
      <ng-container matColumnDef="lastLogin">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header disableClear> Last Login</th>
        <td mat-cell *matCellDef="let element">{{element.lastLogin | date}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef style="text-align: left">Edit</th>
       
        <td mat-cell *matCellDef="let row" >
          <a class="action-link" (click)="openDialog('Edit',row)">Edit</a> | 
          <a class="action-link" (click)="openDialog('Delete', row)">Delete</a>

        </td>
      </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

 </table>
</div>
<mat-paginator [length] = "resultsLength" [pageSizeOptions]= "[10,25,100]" showFirstLastButtons></mat-paginator> 