.create-user {
    width: 600px;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.fields {
    width: 100%;
}

.list-user {
    width: 600px;
    margin:0 auto;
    
}

.top-header {
    margin-top : 30px;
    margin-bottom: 30px;
}

.inline-buttons {

    display : inline;
    margin : 8px;
}

.ro-text {
    color: brown;
}

.mat-mdc-radio-button {
    margin: 16px;
    font-size : 14px;

}