<div class="bkgd">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-user">
    <mat-card appearance="outlined" class="mat-elevation-z8" color="warn">
      <div class="cardtitle">
        <h3 *ngIf="editMode">Update Profile</h3>
        <h3 *ngIf="!editMode">User Profile</h3>
      </div>
      <div class="spacer">

        <mat-form-field>
          <input matInput id="name" type="text" formControlName="name" placeholder="Name">
          <mat-error *ngIf="f.name.errors?.required && (f.name.dirty || f.name.invalid) && editMode">A Name is Required
          </mat-error>
          <mat-error *ngIf="f.name.errors?.minlength && (f.name.dirty || f.name.invalid)  && editMode">Name must be 5
            characters</mat-error>
          <mat-error *ngIf="f.name.errors?.maxlength && (f.name.dirty || f.name.invalid)  && editMode">Name must not
            exceed 15 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput id="email" type="text" formControlName="email" placeholder="E-Mail Address">
          <mat-error *ngIf="f.email.errors?.required && (f.email.dirty || f.email.invalid)">An Email address is Required
          </mat-error>
          <mat-error *ngIf="f.email.errors?.email && (f.email.dirty || f.email.invalid)">Name must be valid e-mail
            address</mat-error>

        </mat-form-field>

        <!-- <mat-form-field>
          <input matInput id="homeCourse" type="text" formControlName="homeCourse" placeholder="Home Course" >
        </mat-form-field> -->

        <mat-form-field id="homeCourse" appearance="outline">
          <mat-label>Home Course</mat-label>
          <mat-select formControlName="homeCourse" >
            <mat-option *ngFor="let cname of courseList" [value]="cname.name" [selected]="homeCourse === cname">
              {{ cname.name}}</mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Birthdate</mat-label>
          <input matInput formControlName="birthdate" [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput id="nickname" type="text" formControlName="nickname" placeholder="Nickname">
        </mat-form-field>


        <mat-form-field id="country" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" >
            <mat-option *ngFor="let cname of countryList" [value]="cname.name" [selected]="country === cname">
              {{ cname.name}}</mat-option>

          </mat-select>
        </mat-form-field>



        <mat-radio-group aria-label="Enter Gender" id="gender" formControlName="gender">
          <mat-radio-button color="primary" value="Female">Female</mat-radio-button>
          <mat-radio-button color="accent" value="Male">Male</mat-radio-button>
          <mat-error *ngIf="f.gender.errors?.required && (f.gender.dirty)">Gender Required</mat-error>
        </mat-radio-group>

        <mat-form-field *ngIf="editMode" class="fields">
          <input matInput id="oldpassword" type="password" placeholder="Password" formControlName="oldpassword">
          <mat-error *ngIf="f.oldpassword.errors?.required && (!f.oldpassword.pristine )">Password
            is Required</mat-error>
          <mat-error *ngIf="f.oldpassword.errors?.minlength && (!f.oldpassword.pristine || f.oldpassword.invalid)">Password
            must be a minimum 5 characters</mat-error>

        </mat-form-field>
      </div>
      <div>
        <!-- <button class="inline-buttons" *ngIf="editMode || passwordChange" id="submit-button" mat-raised-button -->
        <button class="inline-buttons" *ngIf="editMode" id="submit-button" mat-raised-button color="primary"
          type="submit" [disabled]="!form.valid">Submit</button>
        <!-- <button class="inline-buttons" (click)="cancelUpdate()" *ngIf="editMode || passwordChange" -->
        <!-- <button class="inline-buttons" (click)="cancelUpdate()" *ngIf="editMode" class=" inline-buttons"
          mat-raised-button color="primary">Cancel</button> -->
      </div>
      <div>
        <!-- <button class="inline-buttons" (click)="onUpdate()" *ngIf="!editMode && !passwordChange" mat-raised-button  -->
        <button class="inline-buttons" (click)="onUpdate()" *ngIf="!editMode" mat-raised-button color="primary">Update
          Profile</button>
        <!-- <button class="inline-buttons" (click)="onPasswordUpdate()" *ngIf="!editMode && !passwordChange"   -->
        <button class="inline-buttons" (click)="onPasswordUpdate()" *ngIf="!editMode" mat-raised-button
          color="primary">Update Password</button>
      </div>
    </mat-card>
  </form>

</div>
