

.inline-buttons {

    display : inline;
    margin : 15px;
}

.ro-text {
    color: brown;
}

.mat-mdc-radio-button {
    margin: 16px;
    font-size : 14px;

}

input:read-only {
    color: black;
}